version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: azcr01.azurecr.io/logistics-backend:latest
    container_name: logistics-backend
    ports:
      - "8000:8000"
    environment:
      - IOT_HUB_DEVICE_CONNECTION_STRING=${IOT_HUB_DEVICE_CONNECTION_STRING}
      - EVENTHUB_CONNECTION_STRING=${EVENTHUB_CONNECTION_STRING}
      - EVENTHUB_CONSUMER_GROUP=${EVENTHUB_CONSUMER_GROUP}
      - AZ_POSTGRE_DATABASE_URL=${AZ_POSTGRE_DATABASE_URL}
      - BACKEND_PORT=${BACKEND_PORT}
      - BACKEND_HOST=${BACKEND_HOST}
      - CORS_ORIGINS=${CORS_ORIGINS}
    env_file:
      - .env
    depends_on:
      - simulator
    restart: unless-stopped


  
  simulator:
    build:
      context: ./sensor_simulator
      dockerfile: Dockerfile
    image: azcr01.azurecr.io/logistics-simulator:latest
    container_name: logistics-simulator
    ports:
      - "5001:5001"
    environment:
      - IOT_HUB_DEVICE_CONNECTION_STRING=${IOT_HUB_DEVICE_CONNECTION_STRING}
      - IOT_HUB_HOSTNAME=aziothub01.azure-devices.net
      - IOT_DEVICE_ID=iotdevice
    env_file:
      - .env
    restart: unless-stopped
